<h1>My awesome Syrian/Armenia Blog about food</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h2>
        <%= link_to post.headline, post_path(post) %>
      </h2>
      <% if post.image.attached? %>
        <%= image_tag post.image.variant(resize_to_limit: [64, 64]) %>
      <% end %>
      <p>
        <%= link_to 'Edit Post', edit_post_path(post) %>
        <%= link_to 'Delete Post', post_path(post), method: 'DELETE', data: { confirm: 'Really?' } %>
      </p>
    </li>
  <% end %>
</ul>


